// index css
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-family: Arial, Helvetica, sans-serif;

  a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
  }

  //active tab
  a.activeNav {
    background-color: navy;
    color: white;
  }

  //mouse-over
  a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
}

//page content
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: auto;
}

//sidebar into toabar
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;

    a {
      float: left;
    }
  }

  div.content {
    margin-left: 0;
  }
}

#instrumentTab {
  //button style
  button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: skyblue;
    display: inline-block;
    border: 1px solid darkcyan;
    border-radius: 2px;
    text-align: center;
    transition-duration: 0.2s;
    padding: 8px;
  }

  button:hover {
    background-color: #f1f1f1;
  }

  button:active {
    background-color: navy;
    color: #f1f1f1;
  }

  #instrumentButtons {
    text-align: center;
  }

  //instrument list shape and feel
  #instrumentList {
    list-style-type: none;
    margin: 8px;
    padding: 4px;
    border: 1px solid gray;
    border-radius: 4px;
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
    text-align: center;

    li {
      cursor: pointer;
    }

    li.active {
      background-color: #555;
      cursor: default;
    }
  }

  #instrumentSettings {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;

    input {
      margin: 8px 14px;

      &[type='text'] {
        border-color: #555;
        margin: 8px 14px;
        border-style: solid;
        padding: 8px 10px;
        border-radius: 4px;
        background-color: #f1f1f1;
        border-width: 1px;
      }
    }

    .slider {
      -webkit-appearance: none;
      margin: 8px 4px;
      appearance: none;
      width: 144px;
      height: 32px;
      background: #555;
      outline: none;
      opacity: 0.7;
      -webkit-transition: 0.2s;
      transition: opacity 0.2s;
      vertical-align: -75%;
    }
    .slider:hover {
      opacity: 1;
    }
    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 16px;
      height: 32px;
      background: navy;
      cursor: pointer;
    }

    select {
      margin: 8px 16px;
      padding: 8px 10px;
      border-style: solid;
      border-color: #555;
      border-radius: 4px;
      background-color: #f1f1f1;
    }
  }
}

#bigspace {
  margin: 50px;
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

//disable dragging images, links
*,
*::after,
*::before {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
}
